.searchinput{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 10rem;
}

.searchinput input{
    width: 16rem;
    height: 3rem;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
}

.searchbutton{
    width: 10rem;
    height: 3rem;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(5, 30, 170);
    color: #fff;
    font-size: 16px;
}

.searchbutton:hover,
.searchbutton:active
{
    background-color: rgb(3, 17, 111);
}